{{> head }}

{{> navbar }}
<div class="row">

<div class="col-8">
<h1>Curso Node JS</h1>
    </div>

    <div class="col-sm-4">
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/1200px-Node.js_logo.svg.png" class="img-thumbnail">
        </div>

    </div>

    {{> footer }}